body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background:url("images/bg.jpeg");
    background-size: cover;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*width: 400px;*/
    width: 27%;
    padding: 40px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

.box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.box .inputBox{
    position: relative;
}

.box .inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.box .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top: -20px;
    left: 0;
    color: #f40303;
    font-size: 12px;
}

.box input[type="submit"]{
    /*background: transparent;*/
    border: none;
    outline: none;
    color: #fff;
    background: #f40303;
    padding: 10px 20px;
    border-radius: 5px;
}

@media only screen and (max-width: 550px){
    .box{
        width: 70%;
    }
}

@media only screen and (max-width: 300px){
    .table{
        width: 200px;
    }
}

@media only screen and (max-width: 724px){
    .box .inputBox input{
        padding: 20px 0;
    }
}

@media only screen and (max-width: 400px){
    .box{
        padding: 20px;
    }
}

#body{
    /*padding-top: 3%;*/
    margin: 0;
    font-family: sans-serif;
    background:url("images/bg.jpeg");
    background-size: cover;
}

.title{
    text-align: center;
    font-family: sans-serif;
    color: black;
    font-size: 40px;
}

#tablehead{
    overflow-x: auto;
}

.table{
    border: none;
}

.data{
    font-size: 20px;
    background: #f40303;
    color: white;
    border: 5px solid #000000;
}

.row div {
    padding: 6px 6px;
}

.row{
    border-radius: 25px;
}

.question{

}